<section>
    <div class="jumbotron p-3 p-md-5 text-white rounded">
      <div class='row'>
      <div class="col-md-7 px-0">
        <h1 class="display-4">This is the web-site of <span class="green-text">Serhat's portfolio</span> projects</h1>
        <p class="lead my-3">
          Welcome to my portfolio! This site is dedicated to showcasing my work. Here, you'll find projects and case 
          studies that highlight my skills and dedication.I am eager to contribute and grow. 
          Thank you for visiting, and I hope my work demonstrates my potential and enthusiasm for the field. 
          I look forward to connecting and exploring opportunities to work together!</p>
      </div>
      
      <div class="col-md-5 px-0">
        <a class="coverImg" href="#">
          <img src="/static/images/CoverPic1.png" width="100%" height="80%" class="d-inline-block" alt="Me">
        </a>
      </div>
    </div>
    </div>
    </div>
  </section>