
    <header class="p-3 mb-4 border-bottom" id="third-bg">
      <div class="container-fluid" >
        <nav class="navbar navbar-expand-lg navbar-py-3">
            <a class="navbar-brand" href="#">
              <img src="/static/images/logoy.png" width="150" height="150" class="d-inline-block" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" id='text_me' aria-current="page" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id='text_me' href="{{url_for('getCertificates')}}">Certificates</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id='text_me' href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" >
                    <li><a class="dropdown-item" id='text_me' href="#">Action</a></li>
                    <li><a class="dropdown-item" id='text_me' href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" id='text_me' href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" id='text_me' aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
        </nav>
      </div>
      </header>
