{% include "job.html" %} 
<br>
{% include "satellites.html" %} 
  <br>
{% include "cards.html" %}
  <section>
    <div class="p-4 p-md-5 mb-4 ">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Another headline</h2>
              <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
          </div>
        </div>
        <div class="col-lg-6 px-0">
          <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Serhat Ercan's</h2>
              <p class="lead">Personal Portfolio galary.</p>
            </div>
            <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
              <p class="lead" style="color: black;">Personal Portfolio galary.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
